<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{page.canonicalUrl}}">
    {{/if}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/site.css">
    {{> head}}
</head>

<body class="home">
    {{> header}}
    {{> body-home}}
    {{> footer}}
</body>

</html>