*.iml
.idea
target/
build/
.gradle/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.settings
.vscode
.project
.classpath
docs/output/*
/hello.txt
.idea/

#
04-build/knative/maven-build.yaml
04-build/knative/maven-build-template.yaml
04-build/knative/service-build.yaml
04-build/knative/service-build-template.yaml
04-build/knative/docker-secret.yaml

