*.iml
.idea
target/
build/
.gradle/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.cache

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.settings
.vscode
.project
.classpath
docs/output/*
/hello.txt
.idea
work/**/*
!work/README.md
#
**/setenv.sh

gh-pages
node_modules
package.json
package-lock.json
dev-site.yml

.firebaserc
firebase.json
.firebase
openshift-cloud-functions