<div class="navigation-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
    {{#if page.component}}
    <div class="context">
        <!-- Just a place holder to fill in  explorer for each context -->
    </div>
    {{/if}}
</div>