<div class="toolbar" role="navigation">
    <button class="navigation-toggle"></button>
    {{#if site.homeUrl}}
    <a href="{{relativize page.url site.homeUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
    {{/if}}
    {{> breadcrumbs}}
</div>